<mat-card [formGroup]="form" [ngStyle]="{'border-color': val.hoseLay.displayColor == 'white' ? 'black' : val.hoseLay.displayColor}" (click)="checkbox.toggle()">
    <mat-checkbox formControlName="enabled" style="float: left" #checkbox (click)="$event.stopPropagation()"></mat-checkbox>
    <mat-card-header>
        <mat-card-title>{{val.hoseLay.name}}</mat-card-title>
        <mat-card-subtitle>
            <div>{{val.hoseLay.diameter}}"x{{val.hoseLay.length}}' | NP: {{val.hoseLay.nozzlePressure}} PSI</div>
            <div>Friction Loss: {{frictionLoss$ | async | number: '1.1-2'}}</div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div (click)="$event.stopPropagation()">
            <mat-form-field appearance="fill">
                <mat-label>GPM</mat-label>
                <input formControlName="gpm" matInput type="number" min="0" required>
                <mat-icon matSuffix>air</mat-icon>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>