mat-card {
  border: 2px solid;
  margin: 2px;
  min-width: 250px;
}

mat-card-header {
  cursor: pointer;
  user-select: none;
}

mat-checkbox {
  float: left;
}

.selected-hoselay {
  background-color: #edffe7;
}

mat-form-field {
  width: 100%;
}

:host ::ng-deep div.mat-card-header-text {
  width: 100%;
}
